{%- liquid
    case per_row
      when 2
        assign grid_item_width = 'medium-up--one-half'
      when 3
        assign grid_item_width = 'small--one-half medium-up--one-third'
      when 4
        assign grid_item_width = 'small--one-half medium-up--one-quarter'
      when 5
        assign grid_item_width = 'small--one-half medium-up--one-fifth'
    endcase
  -%}
  
  {% comment %}  
  
  per_row: block.settings.subcollections_per_row,
  collection_1: block.settings.collection_1,
  title_1: block.settings.title_1,
  content_1: block.settings.content_1,
  icon_1: block.settings.icon_1,
  collection_2: block.settings.collection_2,
  title_2: block.settings.title_2,
  content_2: block.settings.content_2,
  icon_2: block.settings.icon_2
  
  {% endcomment %}
  <div class="grid grid--uniform grid--collection{% unless settings.collection_grid_gutter %} grid--no-gutters{% endunless %}">
      {%- render 'collection_grid_item_new_col',
          collection: collection_1,
          grid_item_width: grid_item_width,
          collection_title: title_1,
          collection_content: content_1, 
          collection_icon: icon_1, 
          per_row: per_row
        -%}
        {%- render 'collection_grid_item_new_col',
          collection: collection_2,
          grid_item_width: grid_item_width,
          collection_title: title_2,
          collection_content: content_2, 
          collection_icon: icon_2, 
          per_row: per_row
        -%}
  </div>