<div class="cart-sidebar-discount">
  <div class="cart-discount">
    <input placeholder="Gift card or discount code" type="text" id="discount-code-input" autocomplete="on" value="">
    <button id="apply-discount-btn">Apply</button>
  </div>

  <small id="discount-code-error"></small>
</div>

