<div class="cart-sidebar-discount">
  <div class="cart-discount">
    <input placeholder="Discount code" type="text" id="discount-code-input" autocomplete="on" value="">
    <button id="apply-discount-btn">Apply</button>
  </div>
  <small>You can add a Gift card code in the next step.</small>
  <small id="discount-code-error"></small>
</div>

