<div class="do-you-know">
<h2>VÍTE, ZA CO PLATÍTE ?</h2>
<div class="do-you-know__paragraph">
  <h3>OBUV</h3>
  <ul>
    <li>ručně vyráběnou obuv</li>
    <li>
      materiály nejvyšší kvality, které jsou výlučně ze zemí EU s certifikacemi
      zdravotní nezávadnosti
    </li>
    <li>obuv navrženou fyzioterapeuty</li>
    <li>obuv, jejíž výroba probíhá v etických výrobních podmínkách</li>
    <li>obuv, jejíž výroba není spojena s utrpením zvířat</li>
    <li>
      obuv, je komplet navržena fyzioterapeuty, nedeformuje Vaše nohy a nechává
      je šťastné a svobodné :)
    </li>
  </ul>
</div>
<div class="do-you-know__paragraph">
  <h3>EKOLOGICKÁ PÉČE</h3>
  <ul>
    <li>plně rozložitelná ekologická péče o obuv</li>
    <li>špičková kvalita, mnohem lepší než u neekologických výrobků</li>
    <li>navrženo ve Švédsku</li>
    <li>vyráběno v Německu</li>
  </ul>
</div>
</div>

<style>
  .do-you-know {
    padding: 5%;
  }
  h2 {
    text-align: center;
  }
  
  .do-you-know__paragraph h3 {
    margin-top: 30px !important;
  }
  
  @media only screen and (max-width: 768px) {
    .do-you-know__paragraph {
      text-align: left;
    }
  }
</style>