/* #CybotCookiebotDialog {
  background-color: red;
} */

.CybotCookiebotDialogBodyLevelButtonSliderWrapper {
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-shrink: 0;
    height: 20px!important;
    position: relative;
    width: 36px!important;
  
}