.password-header {
    padding: 2rem 1.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
.password-logo {
    width: 100%;
    margin-bottom: 1.5rem;
}
@media only screen and (min-width: 768px) {
    .password-header {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1.5fr 1fr;
        padding: 2rem 5rem 2.5rem;
        text-align: left;
    }
    .password-logo {
        margin-bottom: 0;
    }
}