{%- section 'lp-podzim-slideshow' -%}
<div class="page-width page-content">
  {% section 'lp-podzim-text-and-image7-text' %}
  {% section 'lp-podzim-text-and-image2' %}
  {% section 'lp-podzim-text-and-image3' %}
  {% section 'lp-podzim-text-and-image4' %}
  {% section 'lp-podzim-text-and-image5' %}
  {% section 'lp-podzim-text-and-image6' %}
</div>

