{%- section 'lp-slideshow_jaro23_2' -%}
<div class="page-width page-content">
  {% section 'lp-text-and-gallery1_jaro23_2' %}
  {% section 'lp-text-and-gallery2_jaro23_2' %}
  {% section 'lp-text-and-gallery3_jaro23_2' %}
  {% section 'lp-text-and-gallery4_jaro23_2' %}
  {% section 'lp-text-and-gallery5_jaro23_2' %}
  {% section 'lp-text-and-gallery6_jaro23_2' %}
  {% section 'lp-text-and-gallery7_jaro23_2' %}
  {% comment %} {% section 'lp-text-on-image_jaro23_2' %} {% endcomment %}
  {% section 'lp-secret-code_jaro23_2' %}
  {% unless shop.url contains ".com" %}
    {% section 'lp-image-text_jaro23_2' %}
  {% endunless %}
</div>

