<div class="page-width page-content">
    {% section 'head-of-page3' %}
        {% section 'e-book-image-double-text3' %}
        {% section 'e-book-single-black-order-block3' %}
        {% section 'e-book-pages-gallery3' %}
    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
        {% section 'e-book-single-image-text5' %}
        {% section 'e-book-single-image-text6' %}
      </div>
    </div>
  
</div>