{%- section 'np-slideshow-recycle' -%}
<div class="page-width page-content recyclated-edition">
    {% section 'np-text' %}
    {% section 'np-3img_banner' %}
    {% section 'np-text-and-image-with-gallery' %}
    {% section 'np-text-and-image-with-gallery2' %}
    {% section 'np-promotions' %}
    {% section 'np-text-and-image-with-gallery3' %}
    {% section 'np-text-and-image-with-gallery4' %}
    {% section 'np-text-and-image-with-gallery5' %}
    {% section 'np-text-and-image-with-gallery6' %}
</div>