{%- section 'reviews-slideshow' -%}
<div class="page-width page-content">

    {%- section 'reviews-intro' -%}
    {%- section 'customer-reviews' -%}
    {%- section 'independent-reviews' -%}

</div>
