<div class="page-width page-content">
    {% section 'head-of-page2' %}
        {% section 'e-book-image-double-text2' %}
        {% section 'e-book-single-black-order-block2' %}
        {% section 'e-book-pages-gallery2' %}
    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
        {% section 'e-book-single-image-text3' %}
        {% section 'e-book-single-image-text4' %}
      </div>
    </div>
  
</div>