{%- section 'lp-slideshow_fall_23' -%}
<div class="page-width page-content">
  {% section 'lp-text-on-image_fall_23_1' %} 
  {% section 'lp-text-and-gallery_fall_23_1' %}
  {% section 'lp-text-and-gallery_fall_23_2' %}
  {% section 'lp-text-and-gallery_fall_23_3' %}
  {% section 'lp-text-and-gallery_fall_23_4' %}
  {% section 'lp-text-and-gallery_fall_23_5' %}
  {% section 'lp-text-and-gallery_fall_23_6' %}
  {% section 'lp-text-and-gallery_fall_23_7' %}
  {% section 'lp-text-and-gallery_fall_23_8' %}
  {% section 'lp-section-title_fall23' %}
  {% section 'lp-text-on-image_fall_23_2' %} 
</div>

