{%- section 'lp-slideshow' -%}
<div class="page-width page-content">
  {% section 'lp-text-and-image1' %}
  {% section 'lp-text-and-image2' %}
  {% section 'lp-text-and-image3' %}
  {% section 'lp-text-and-image4' %}
  {% section 'lp-text-and-image5' %}
  {% section 'lp-text-and-image7' %}
</div>

