{%- section 'lp-slideshow-recycle' -%}
<div class="page-width page-content recyclated-edition">
    {% section 'lp-3img_banner' %}
    {%- comment -%}
    {% section 'lp-text-and-image-recycle1' %}
    {%- endcomment -%}
    {% section 'lp-text-and-image-with-gallery2' %}
    {% section 'lp-text-and-image-with-gallery' %}
    {% section 'lp-text-and-image-with-gallery3' %}
    {% section 'lp-text-and-image-with-gallery4' %}
    {%- comment -%}
    {% section 'lp-text-and-image-with-gallery5' %}
    {%- endcomment -%}
    {%- comment -%}
    {% section 'lp-text-and-image-recycle2' %}
    {% section 'lp-text-and-image-recycle3' %}
    {% section 'lp-text-and-image-recycle4' %}
    {%- endcomment -%}
</div>