{%- section 'lp-slideshow_svatba' -%}
<div class="page-width page-content page-svatba">
  {% section 'lp-text-and-image1_svatba' %}
  {% section 'lp-text-and-image2_svatba' %}
  {% section 'lp-text-and-image3_svatba' %}
  {% section 'lp-text-and-image5_svatba' %}
  {% section 'lp-text-on-image_svatba' %}
  {% section 'lp-text-and-image4_svatba' %}
</div>